@model IEnumerable<ProgettoComplessoID.Models.Album>

<style>
    .album-container {
        border: 1px solid #ccc;
        padding: 5px; /* Riduci il padding del riquadro */
        text-align: center;
        transition: transform 0.3s ease;
        height: 100%;
    }

        .album-container:hover {
            transform: scale(1.1);
        }

        .album-container img {
            max-width: 100%;
            height: 150px;
            width: 150px;
        }

    .album-price {
        font-weight: bold;
        font-size: larger;
        color: black; /* Testo in nero */
    }

    .album-title,
    .album-band {
        color: black; /* Testo in nero */
    }

    .album-arrow {
        cursor: pointer;
    }

    /* Rimuovi la sottolineatura dai link */
    .album-link {
        text-decoration: none;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Mostra i risultati della ricerca -->
        @foreach (var album in Model)
        {
            <div class="col-md-2 mb-2">
                <a href="@Url.Action("Details", "Albums", new { id = album.Id })" class="album-link">
                    <div class="album-container">
                        <!-- Visualizza l'immagine dell'album, il titolo, l'artista, il formato, la nazione e il prezzo -->
                        <img src="@album.ImageData" alt="Immagine Album">
                        <p class="album-title">@album.Title - <span class="album-band">@album.Band</span></p>
                        <p class="album-price">€ @album.Price</p> <!-- Aggiungi il simbolo dell'euro davanti al prezzo -->
                        <p>@album.Format - @album.Nation</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
